# Keep the consumable git tarball (github: deps via codeload) lean: a
# consumer needs only the package surface (aesthetic.css, tokens.json,
# recipes/, README, LICENSE, package.json). Everything below is dev,
# proof, or docs scaffolding and must not ship — in particular tests/
# and playwright.config.ts, which downstream test runners would
# otherwise discover in the pnpm store and try to execute.
/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.prettierrc export-ignore
/.stylelintrc.json export-ignore
/backlog.d export-ignore
/playwright.config.ts export-ignore
/prototypes export-ignore
/scripts export-ignore
/site export-ignore
/tests export-ignore
/package-lock.json export-ignore
